<div class="row">
  <div class="col-12">
    <h1>Criar Promoções</h1>

    <button type="button" class="btn btn-primary" [routerLink]="['/produto/novo']">Adicionar Promoção</button>
    <br>
    <br>
    <table class="table table-dark">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="25%">Nome</th>
          <th width="20%">Preco</th>
          <th width="25%">Operações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.preco}}</td>
          <td>
            <a [routerLink]="['/produto/alterar',produto.id]">Alterar</a> |
            <button class="btn btn-danger" (click)="excluir(produto.id)" [routerLink]="['/produto']">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>