<div class="row">
    <div class="col-12">
        <h1>Lista de Categorias</h1>

        <button type="button" class="btn btn-primary" [routerLink]="['/categoria/novo']">Adicionar Categoria</button>
        <br>
        <br>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="25%">Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nome}}</td>
                    <td>
                        <a [routerLink]="['/categoria/alterar',categoria.id]">Alterar</a>
                        <!-- <button class="btn btn-danger" (click)="excluir(categoria.id)" [routerLink]="['/categoria']">Excluir</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>