<div class="row">
  <div class="col-12">
    <h1>Carrinho</h1>

    <br>
    <div *ngIf="total != 0; else erro;">
    <table class="table table-dark">
      <thead>
        <tr>
          <th width="20%">Nome</th>
          <th width="20%">quantidade</th>
          <th width="20%">Preco</th>
          <th width="35%">Operações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsCarrinho">
          <td>{{item.produto.nome}}</td>
          <td>{{item.quantidade}}</td>
          <td>{{item.produto.preco | currency : 'BRL'}}</td>
          <td>
            <button (click)="aumenta(item)" type="button" class="btn btn-primary">+</button>
            <button (click)="diminui(item)" type="button" class="btn btn-danger">-</button>
          </td>
        </tr>

      </tbody>
    </table>    
      <p>Total: {{ total | currency : 'BRL'}}</p>
    </div>
    <ng-template #erro>
      Seu carrinho está vazio.
    </ng-template>
  </div>
</div>