<div class="container h-100">

  <!-- TOPO -->
  <div class="row topo">
    <div class="col-12">
      <img class="logo" height="150" src="assets/imagens/logopc.png" />
    </div>
  </div>

  <!-- MENU HORIZONTAL -->
  <div class="row">

    <div class="p-3 mb-2 bg-dark col-12 menu-horizontal">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link float-right" [routerLink]="['carrinho']" href="#">
            <span class="fa-stack fa-sm">
              <i class="fa fa-home fa-stack-2x"></i>
            </span>
            &nbsp;Home
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link float-right" [routerLink]="['carrinho']" href="#">
            <span class="fa-stack fa-sm">
              <i class="fa fa-shopping-cart fa-stack-2x"></i>
              <i class="fa fa-square fa-stack-1x" ></i>
              <i class="fa fa-stack-1x text-danger" style="font-family: inherit;">{{totalQuantidade}}</i>
            </span>
            &nbsp;Carrinho
          </a>          

        </li>
      </ul>
    </div>

  </div>

  <!-- MEIO -->
  <div class="row meio">

    <!-- MENU VERTICAL -->
      <aside class="col-12 col-md-2 p-0 bg-dark">
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
          <div class="collapse navbar-collapse">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
              <!-- <li class="nav-item">
                <a class="nav-link pl-0" [routerLink]="['promocao']" href="#"><i class="fa fa-money fa-fw"></i> <span class="d-none d-md-inline">&nbsp;&nbsp;Promoções</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link pl-0" [routerLink]="['produto']" href="#"><i class="fa fa-user"></i> <span class="d-none d-md-inline">&nbsp;&nbsp;Administração</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link pl-0" [routerLink]="['categoria']" href="#"><i class="fa fa-align-justify fa-fw"></i> <span class="d-none d-md-inline">&nbsp;&nbsp;Categorias</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" [routerLink]="['promocao/promocao-criar']" href="#"><i class="fa fa-user fa-fw"></i> <span class="d-none d-md-inline">&nbsp;&nbsp;Administração</span></a>
              </li> -->
            </ul>
          </div>
        </nav>
      </aside>
    <!-- CONTEUDO -->
    <div class="col-lg-9 col-md-9 col-xs-12">
<!-- <p>teste de coisa</p> -->
<!-- <button (click)="atualizaCarrinho()" >update carrinho</button> -->
      <!-- start: page -->
      <router-outlet (eventCont)="atualizaCarrinho()" ></router-outlet>
      <!-- end: page -->

    </div>
  </div>

  <!-- RODAPE -->
  <div class="row">
    <div class="col rodape">
      <p> Aula Prog Web 2018/2 &#174; Direitos Reservados </p>
    </div>
  </div>

</div>