<div class="container">
  <div class="promocao">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Promoção 1</h1>
        <h3 class="text-center">Incrível descrição da promoção</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="img_capa text-center">
          <img class="img-fluid" src="https://via.placeholder.com/200x200" />
        </div>

      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h2>R$ 99,99</h2>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">
              Adicionar ao carrinho
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>