<div class="row">
    <div class="col-12">
        <div *ngIf="produtos != 0; else vazia;">
            <h1>Produtos da Loja</h1>
            <div *ngFor="let produto of produtos">
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://www.placecage.com/g/150/150" class="img-fluid" />
                    </div>

                    <div class="col-md-9">
                        <div class="row">
                            <h4>{{ produto.nome }}</h4>
                        </div>

                        <div class="row">
                            <h5>{{ produto.descricao }}</h5>
                        </div>

                        <div class="row">
                            <p>{{ produto.preco | currency: 'BRL'}}</p>
                        </div>

                        <div class="row">
                            <button (click)="addCarrinho(produto)" class="btn btn-outline-success">Adicionar ao carrinho</button>
                        </div>
                    </div>                
                </div>
                <hr />
            </div>
        </div>
        <ng-template #vazia>
            <h1>Loja vazia >:(</h1>
        </ng-template>
        
    </div>
</div>