<div class="row">
    <div class="col-12">
        <h1>Produtos</h1>
        <br>
        <button type="button" class="btn btn-primary" [routerLink]="['/produto/novo']">Criar Novo Produto</button>
        <br>
        <br>
        <table class="table table-dark" >
            <thead>
                <tr>
                    <th width="35%">Nome</th>
                    <th width="20%">Preco</th>
                    <th width="15%">Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco | currency: 'BRL'}}</td>
                    <td>
                        <div class="row">
                            <button class="btn btn-warning col-xs-4" [routerLink]="['/produto/alterar',produto.id]" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fa fa-pencil"></i></button>&nbsp;
                            <button class="btn btn-danger col-xs-4" (click)="excluir(produto.id)" [routerLink]="['/produto']" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></button>&nbsp;
                            <button class="btn btn-success col-xs-4" (click)="addCarrinho(produto)" data-toggle="tooltip" data-placement="top" title="Adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                        </div>
                        <!-- <button class="btn btn-primary" (click)="test()" >jasdhfia</button> -->
                        <!-- <button class="btn btn-danger" [routerLink]="['/carrinho']" >Carrinho</button> -->
        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>